n8n-workflows/policy-address-crawler.json
{
  "name": "Hong Kong Policy Address Crawler",
  "description": "Async web crawler for Hong Kong Policy Address - Immediate response with background processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "policy-address-crawler",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [40, 300],
      "webhookId": "policy-address-crawler"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"started\",\n  \"message\": \"Hong Kong Policy Address crawl initiated successfully\",\n  \"executionId\": \"{{ $execution.id }}\",\n  \"timestamp\": \"{{ $now }}\",\n  \"config\": {\n    \"targetUrls\": [\"https://www.policyaddress.gov.hk/2024/\", \"https://www.policyaddress.gov.hk/2023/\"],\n    \"maxPages\": 5,\n    \"estimated_duration\": \"30-60 seconds\"\n  },\n  \"note\": \"Results will be available at: https://aitutorhk.app.n8n.cloud/workflow/Sb4LopO6LddL8lgI\",\n  \"instructions\": \"Check the n8n execution logs to see crawled content and titles.\"\n}"
      },
      "id": "immediate-response",
      "name": "Immediate Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "seedUrls",
              "value": "https://www.policyaddress.gov.hk/2024/,https://www.policyaddress.gov.hk/2023/"
            },
            {
              "name": "maxPages", 
              "value": "5"
            }
          ]
        }
      },
      "id": "config-node",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare URLs for background crawling\nconst config = $input.first().json;\nconst seedUrls = config.seedUrls.split(',').map(url => url.trim());\n\n// Process up to 2 URLs for testing\nconst urlsToProcess = seedUrls.slice(0, 2);\n\nreturn urlsToProcess.map(url => ({\n  json: {\n    url: url,\n    type: 'seed',\n    startTime: new Date().toISOString()\n  }\n}));"
      },
      "id": "prepare-urls",
      "name": "Prepare URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-content",
      "name": "Fetch Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process the fetched content\nconst item = $input.first().json;\nconst htmlContent = item.data || '';\n\n// Extract title and basic content\nconst titleMatch = htmlContent.match(/<title[^>]*>([^<]+)</i);\nconst title = titleMatch ? titleMatch[1].trim() : 'No title';\n\nconst textContent = htmlContent\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst wordCount = textContent.split(' ').length;\nconst contentPreview = textContent.substring(0, 500);\n\n// Extract key policy information\nconst year = item.url.match(/20\\d{2}/) ? item.url.match(/20\\d{2}/)[0] : 'unknown';\nconst policyKeywords = [];\nif (contentPreview.toLowerCase().includes('housing')) policyKeywords.push('housing');\nif (contentPreview.toLowerCase().includes('economy')) policyKeywords.push('economy');\nif (contentPreview.toLowerCase().includes('education')) policyKeywords.push('education');\nif (contentPreview.toLowerCase().includes('health')) policyKeywords.push('healthcare');\n\n// Save comprehensive result\nreturn [{\n  json: {\n    url: item.url,\n    title: title,\n    year: year,\n    wordCount: wordCount,\n    contentPreview: contentPreview,\n    policyKeywords: policyKeywords,\n    processedAt: new Date().toISOString(),\n    success: true,\n    metadata: {\n      contentLength: htmlContent.length,\n      hasContent: wordCount > 50\n    }\n  }\n}];"
      },
      "id": "process-content",
      "name": "Process Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Immediate Response", "type": "main", "index": 0}, {"node": "Configuration", "type": "main", "index": 0}]]
    },
    "Configuration": {
      "main": [[{"node": "Prepare URLs", "type": "main", "index": 0}]]
    },
    "Prepare URLs": {
      "main": [[{"node": "Fetch Content", "type": "main", "index": 0}]]
    },
    "Fetch Content": {
      "main": [[{"node": "Process Content", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-22T10:10:00.000Z",
  "versionId": "1"
}